*:after {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

.camera{
    background-color: #BD1911;
    width: 70%;
    height: 40%;
    /* position: relative; */
    margin-top: 0;
    margin-left: 15%;
}

.canvas{
    display: none;
}


.resultPageClass{
    width: 69.8%;
    height: 50%;
    margin-top: 0%;
    margin-left: 15%;
    border: none;
}